@font-face {
    src: url("fonts/DisneyHeroic.ttf");
}

TextFlow {
    -fx-font-family: "Disney Heroic";
    -fx-font-size: 18;
}

Button
{
    -fx-padding: 12px 12px;
    -fx-border-width:2;
    -fx-border-radius: 16;
    -fx-font-family: "Disney Heroic";
    -fx-font-size: 17px;
    -fx-cursor: pointer;
    -fx-background-radius: 16;
    -fx-font-weight: bold;
    -fx-background-color: #D13639;
    -fx-border-color: #D13639;
    -fx-text-fill: white;
}

.background {
    -fx-background-image: url("bg_panelMid.png");
    -fx-background-size: 100% 100%;
}