@font-face {
    src: url("fonts/DisneyHeroic.ttf");
}


#godName {
    -fx-font-family: "Disney Heroic";
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-background-insets: 0, 0, 0, 0 ;
    -fx-background-radius: 0 ;
    -fx-text-alignment: center;
}

#godNameText {
    -fx-font-family: "Disney Heroic";
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-background-insets: 0, 0, 0, 0 ;
    -fx-background-radius: 0 ;
    -fx-text-alignment: center;
}


#godEffectText {
    -fx-font-family: "Disney Heroic";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-background-insets: 0, 0, 0, 0 ;
    -fx-background-radius: 0 ;
    -fx-text-alignment: center;
}

#turnInfoText {
    -fx-font-family: "Disney Heroic";
    -fx-font-weight: bold;
    -fx-font-size: 23px;
    -fx-background-insets: 0, 0, 0, 0 ;
    -fx-background-radius: 0 ;
    -fx-text-alignment: center;
}


.level1 {
    -fx-background-image: url("/Buildings/Level1.png");
    -fx-background-size: 100% 100%;
}

.level2 {
    -fx-background-image: url("/Buildings/Level2.png");
    -fx-background-size: 100% 100%;
}

.level3 {
    -fx-background-image: url("/Buildings/Level3.png");
    -fx-background-size: 100% 100%;
}

.dome {
    -fx-background-image: url("/Buildings/Dome.png");
    -fx-background-size: 100% 100%;
}

.level1Dome {
    -fx-background-image: url("/Buildings/Level1_Dome.png");
    -fx-background-size: 100% 100%;
}

.level2Dome {
    -fx-background-image: url("/Buildings/Level2_Dome.png");
    -fx-background-size: 100% 100%;
}

.level3Dome {
    -fx-background-image: url("/Buildings/Level3_Dome.png");
    -fx-background-size: 100% 100%;
}


.highlighted{

    -fx-opacity: 0.5;
    -fx-background-color: #fffc32;

}

GridPane > Pane:hover{
    -fx-opacity: 0.5;
    -fx-background-color: aliceblue;
}


.highlight{
    -fx-opacity: 0.6;
    -fx-background-color: aliceblue;
    -fx-background-radius: 6%;
 }





